* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
>>>>>>> 5253ecc5d7defd8b320088b3c270154018c5a7c5

}
<<<<<<< HEAD
body{ 
  background-color: rgb(169, 247, 217);
}



=======
body{
  background-color:
}
>>>>>>> 5253ecc5d7defd8b320088b3c270154018c5a7c5